# Backend purposefully
PORT=4000
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/yourdb
JWT_SECRET=supersecretjwt
AIRTABLE_CLIENT_ID=your_airtable_client_id
AIRTABLE_CLIENT_SECRET=your_airtable_client_secret
AIRTABLE_OAUTH_REDIRECT=http://localhost:4000/auth/airtable/callback
BASE_URL=http://localhost:4000
WEBHOOK_SECRET=HihelloNamaste

# Frontend
VITE_API_BASE=http://localhost:4000
VITE_AIRTABLE_OAUTH_URL=https://airtable.com/oauth2/v1/authorize?client_id=...
